*,
*::before,
*::after {
  box-sizing: border-box;
  border: 0;
  margin: 0;
}

:root {
  --font-color: black;
  --column-background-color: white;
  --link-margin: 0.5rem;
  --recipe-font-size: 0.9rem;
}

body {
  font-family: "EB Garamond", serif;
  font-size: 20px;
  height: 100vh;
  margin: 0;
  padding: 1rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.container {
  display: flex;
  height: calc(100vh - 4rem - 50px);
}

/* Custom scrollbar styling */
.custom-scrollbar::-webkit-scrollbar {
  background-color: transparent;
  width: 7.5px;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.15);
  border-radius: 15px;
}

/* Column expand from left to right animation */
.expand-right {
  animation: expandRight 0.15s linear;
}

@keyframes expandRight {
  from {
    opacity: 0;
    transform: translateX(-100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
